                <div id="Layer7">
                    <div class="locator">
                        Community Service
                    </div>
                    <p align="center">
                        &nbsp;
                    </p>
                    <p align="center">
                        <a href="http://www.yourturn2apply.com/utah.htm"><img src="images/teendriver.gif" border="0" height="130" width="200" /></a>
                    </p>
                    <hr align="center" width="170" />
                    <div align="left">
                        <p>
                            The Jiffy Lube "What Drives You?" High School Scholarship program is a unique opportunity to pursue your interests, goals and ideas.
                        </p>
                    </div>
                </div>
                <div id="Layer8">
                    <div class="locator">
                        <a href="http://jiffylubevipdiscount.com/" target="_blank">Business VIP Cards</a>
                    </div>
                    <p align="center">
                        <br />
                        <img src="/images/vip_cards3.jpg" alt="Jiffy Lube VIP Card" height="130" width="200" /><%= image_tag "vip_cards3.jpg", size: "200x130" %>
                    </p>
                    <h2>
                        Treat your employees<br />
                        like VIPs!
                    </h2>
                    <p class="sidebar">
                        Reward them with generous discounts at Jiffy Lube. <a href="http://jiffylubevipdiscount.com/" target="_blank">Order your FREE VIP Discount Cards</a> now.
                    </p>
                    <p class="sidebar"></p>
                </div>
                <div id="Layer9">
                    <div class="locator"><a href="services.htm">Jiffy Lube Services</a></div>
                    <div class="sidebarlist">
                        <%= render :partial => '/shared/listing_of_service_offered' %>
                    </div>
                </div>
                <div id="Layer2">
                    <table background="images/bg_bar.gif" border="0" cellpadding="0" cellspacing="0" width="755">
                        <tbody>
                            <tr>
                                <td>
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="731">
                                        <tbody>
                                            <tr>
                                                <td width="731">
                                                    <%= image_tag "header2.gif", usemap: "#Map", href: "index", border: "0", size: "731x173" %>
                                                    </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table border="0" cellpadding="0" cellspacing="0" width="731">
                                                        <tbody>
                                                            <tr>
                                                                <td colspan="2" valign="top">
                                                                    <table border="0" cellpadding="0" cellspacing="0" width="731">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td width="509">
                                                                                    <div align="center">
                                                                                        <%= link_to image_tag("UT-Web-dashboard-banner.jpg",  size: "508x202") , root_path %>
                                                                                    </div>
                                                                                </td>
                                                                                <td valign="top" width="222">
                                                                                    <p>
                                                                                        <%= link_to image_tag("10off.gif",  size: "223x110", alt: "$7 Off Link") , coupons_path %>
                                                                                    </p>
                                                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="190">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <div align="left">
                                                                                                        Add life to your car with added savings! <%= link_to "Great savings with our signature service", coupons_path %>
                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2" valign="top">
                                                                    <table border="0" cellpadding="5" cellspacing="0" width="731">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td height="471" valign="top">
                                                                                    <%= image_tag "home_promo3.jpg", size: "243x450" %>
                                                                                </td>
                                                                                <td valign="top">
                                                                                    <%= image_tag "home_promo3.jpg", size: "243x450" %>
                                                                                </td>
                                                                                <td valign="top">
                                                                                    <div id="apDiv2">
                                                                                        <!-- <img src="images/socialMEDIALINK.gif" usemap="#Map2" border="0" height="98" width="223" /> -->
                                                                                    </div><%= image_tag "home_promo3.jpg", size: "243x450" %>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <img src="images/spacer.gif" height="10" width="513" />
                                                                </td>
                                                                <td>
                                                                    <img src="images/spacer.gif" height="10" width="217" />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2">
                                                                    <p class="sidebar">
                                                                        <a href="privacy_policy.htm">Privacy Policy</a>
                                                                    </p>
                                                                    <p class="footer">
                                                                        <a href="http://www.jiffylube.com/">Jiffy Lube®, the pioneer of the oil change industry, delivers experience in vehicle maintenance.</a>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="images/footer2.gif" height="45" width="755" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table align="center" border="0" cellpadding="0" cellspacing="12" width="500">
                        <tbody>
                            <tr>
                                <td colspan="3" valign="top" width="33%">
                                    <div align="left">
                                        <p>
                                            These services are available at these <a href="locations.htm">Jiffy Lube locations</a> in Utah. Visit our <a href="locations.htm">locations page</a> for specific addresses, phone numbers and links to maps and list of services.
                                        </p>
                                    </div>
                                </td>
                        </tbody>
                    </table>
                    <p class="sidebarlist style6" align="center">
                        &nbsp;
                    </p>
                </div>
